@using DeleBil.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logg inn";
}

<div class="col-xs-12 text-center">
    <h3>DeleBil er en applikasjon hvor du kan låne ut bilen din i kortere perioder.</h3>
    <h4>Logg inn for å registrere/administrere dine biler eller for å låne en bil.</h4>
</div>
<hr />

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 login">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">@ViewBag.Title</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label>Husk til neste gang</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Logg inn" class="btn btn-success" />
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        <section>
            @Html.Partial("Register", new RegisterViewModel { })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}